/********************
GENERAL
********************/

body {
  background: -webkit-linear-gradient(#fff, #ff85a2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#fff, #ff85a2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#fff, #ff85a2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#fff, #ff85a2); /* Standard syntax (must be last) */
  font-family:'Raleway', sans-serif;
}

.logo {
  max-width: 40%;
  margin: 5% 30% 0 30%;
}

#box {
  clear: both;
  color: #fff;
  width: 80%;
  margin: 5%;
  border: 2px solid #fff;
  padding: 2.5% 5%; 
  background: #8C3449;
  border-radius: 25px;
}

#box h2 {
  font-size: 1em;
}

.footer {
  
  font-size: 0.6em;
}

 .footer_icons ul {
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
  }

  .footer_icons li {
    display: inline-block;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    width: 60px;
    margin-bottom: 30px;
  }

  .footer_icons img {
    width:75%;
  }
.copyright {
  clear: both;
  text-align: center;
}

.copyright a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

a {
  color: #fff;
  font-weight: 700;
  font-size: 1.2em;
  text-decoration: none;
}
 a:hover{
  color: #ff85a2;
 }
/********************
GENERAL - END
********************/



/********************
STYLING FOR SLIDER
********************/

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 1050px;
  height: 450px;
  padding: 0;
  margin: 0 auto 0 auto;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: 445px;
  float: left;
  width: 99%;
  border: 2px solid #8C3449;
  border-radius: 25px;
  }

/********************
STYLING FOR SLIDER -END
********************/



/* ------------------------------------------
  NAVIGATION STYLES
  (+ responsive-nav.css file is loaded in the <head>)
--------------------------------------------- */

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-collapse,
.nav-collapse * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0;

}

.nav-collapse li {
  float: left;
  width: 100%;
  font-family: 'Qwigley', cursive;
  font-size: 3em;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 40em) {
  .nav-collapse li {
    width: 16.6%;
    *width: 16.6%; /* IE7 Hack */
    _width: 16.6%; /* IE6 Hack */
  }
}

.nav-collapse a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  background: #8C3449;
  border-bottom: 1px solid white;
  padding: 0;
  float: left;
}

@media screen and (min-width: 40em) {
  .nav-collapse a {
    margin: 0;
    padding: 0.2;
    float: left;
    text-align: center;
    border-bottom: 0;
    border-right: 1px solid white;
  }
}

.nav-collapse ul ul a {
  background: #ca3716;
  padding-left: 2em;
}

@media screen and (min-width: 40em) {
  .nav-collapse ul ul a {
    display: none;
  }
}


/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */

/*@font-face {
  font-family: "responsivenav";
  src:url("../icons/responsivenav.eot");
  src:url("../icons/responsivenav.eot?#iefix") format("embedded-opentype"),
    url("../icons/responsivenav.ttf") format("truetype"),
    url("../icons/responsivenav.woff") format("woff"),
    url("../icons/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}*/

.nav-toggle {
  position: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  text-indent: -999px;
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 55px;
  float: right;
}

.nav-toggle:before {
  color: #8C3449; /* Edit this to change the icon color */
  /*font-family: "responsivenav", sans-serif;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 58px;
  text-transform: none;
  position: absolute;
  content: "≡";
  text-indent: 0;
  text-align: center;
  line-height: 55px;
  speak: none;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-toggle.active::before {
  font-size: 24px;
  content:"x";
}

/********************
HOME PAGE
********************/

.welcome {
  color: #fff;
  width: 80%;
  margin: 5%;
  border: 2px solid #fff;
  padding: 2.5% 5%;
  background: #8C3449;
  border-radius: 25px;
}


/********************
HOME PAGE - END
********************/



/********************
BOOKINGS
********************/

.booking_widget {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}


/********************
BOOKING - END
********************/



/********************
PRICELIST PAGE
********************/

.pricelist {
  color: #fff;
  width: 80%;
  margin: 5%;
  border: 2px solid #fff;
  padding: 2.5% 5%; 
  background: #8C3449;
  border-radius: 25px;
}

.pricelist h2 {
  font-size: 1em;
}

.pricelist p {
  font-size: 0.8em;
}

/********************
PRICELIST PAGE - END
********************/



/********************
OFFERS PAGE
********************/

.offers {
  text-align: center;
}

/********************
OFFERS PAGE - END
********************/



/********************
CONTACT PAGE
********************/

.contact a {
  text-decoration: none;
  font-weight: 700;
  color: #fff;
}

/********************
CONTACT PAGE - END
********************/

@media screen and (max-width: 200px) {

  .rslides {
    height: 250px;
    width: 90%;
  }

  .rslides img {
    height: 240px;
  }

  /********************
  PARTIES PAGE
  ********************/

  .parties {
   
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;

  }

  .parties img {
    width: 100%;
  }

  /********************
  PARTIES PAGE - END
  ********************/

   

}



@media screen and (max-width: 480px) {

  .rslides {
    height: 250px;
    width: 90%;
  }

  .rslides img {
    height: 240px;
  }

  /********************
  PARTIES PAGE
  ********************/

  .parties {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;

  }

  /********************
  PARTIES PAGE - END
  ********************/

    .footer_icons li {
    width: 15%;
    padding: 2%;
    }

    .footer_icons img {
    width:100%;
  }
}



@media screen and (max-width: 660px) {

  .rslides {
    width: 90%;
  }

/*  .rslides img {
    height: 445px;
  }*/

  /********************
  PARTIES PAGE
  ********************/

  .parties {
    width: 90%;
    margin: 5%;
    display: inline-block;
    white-space: nowrap;
  }

  .parties img {
    width: 50%;
  }

  /********************
  PARTIES PAGE - END
  ********************/

    .footer_icons img {
    width:40%;
  }
}